@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
    font-family: 'Chevin';
    src: url('../fonts/chevinextrabold.woff2') format('woff2'),
         url('../fonts/chevinextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  background: url("../img/univel.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Chevin", sans-serif;
}

form{
  background: #fff;
  border-radius: 10px;
  border: 2px solid #009fdf;
  padding: 3px;
}

.textCenter{
  text-align: center;
}

.mt-20{
  margin-top: 20px;
}

.displayNone{
  display: none;
}
header{

  #logo{
    max-height: 55px;
  }
  .top-bar-right{
    li{
      line-height: 55px;
      font-size: 1.2rem;
      padding-bottom: 11.2px;
      i{
        color: #6ecff6;
      }
    }
    #avatar{
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }
  }
  color: #fff;

}
